@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gowun+Dodum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=National+Park:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

select option span{
    font-weight: 900;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.loading p{
    font-size: 30px;
    font-weight: 900;
}

header.header{
    background: #282c34;
    color: #fff;
    text-align: center;
}
header.header nav{
    position: relative;
    z-index: 10;
    filter: drop-shadow(0px 0px 2px #000);
}
header.header a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}
header.header .mobile_nav{
    display: none;
}
header.header .desktop_nav{
    padding: 20px;
}
header.header .content_home {
    background: url(../public/metro.jpg) no-repeat center / cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}
header.header .content_home h1{
    filter: drop-shadow(0px 3px 10px black);
}
header.header .content_other {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 50px);
    filter: drop-shadow(0px 0px 2px #000);
    /* background: #696969; */
}

.container{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.container>div:not(.header){
    margin: 20px auto;
}

.container .presentation, .container .description, .container .list ul{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.container .presentation h1, .container .description h1{
    max-width: max-content;
    width: 100%;
    font-size: 40px;
    padding: 10px 0;
}
.container .presentation h1::after, .container .description h1::after{
    content: '';
    display: block;
    background: #282c34;
    width: 80px;
    height: 8px;
    transition: .3s ease-in-out;
}
.container .presentation h1:hover::after, .container .description h1:hover::after{
    width: 100%;
}

.container .list ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}
.container .list ul li{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background: #696969;
    padding: 40px;
}
.container .list ul li a{
    align-items: end;
    width: 100%;
    max-width: max-content;
    text-align: right;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.container .content{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.container .content .list-parc, .container .content .list-velo{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 40px;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
    list-style: none;
}
.container .content li{
    background: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    filter: none;
    transition: .5s all;
}
.container .content li:hover{
    background: #f1f1f1;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.container .content li:hover>*{
    transform: scale(1.05);
}
.container .content .list-parc li h2{
    display: block;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}
.container .content .list-parc li h2 span{
    font-weight: 500;
}
.container .content .list-parc li h2.OUVERT{
    background: #10532c;
}
.container .content .list-parc li h2.FERME{
    background: #531010;
}

.container .content .list-velo li a{
    color: #000;
    text-decoration: none;
}

/* .container ul li::after{
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.1, 0.7, 1, 0.1);
}
.container ul li:hover::after{
    opacity: 1;
} */
/* .container ul li p{
    position: absolute;
    z-index: 21;
    font-size: 80px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    padding: 0 80px;
    color: #000;
} */

.metro ul{
    list-style-type: none;
}

.container .content{
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
}
.container .content h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}
.container .content .bus-lines h2{
    text-align: center;
    padding: 10px 0;
}
.container .content .traffic h2{
    text-transform: uppercase;
    font-size: 25px;
}
.container .content .traffic h3{
    margin: 10px 0;
}
.container .content .traffic li a{
    color: #000;
    text-decoration: none;
}
.container .content ul{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    list-style: none;
}
.container .content .bus-lines ul li a{
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 5fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: .3s all;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}
.container .content .bus-lines ul li h2{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.container .content .line{
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 4fr);
    gap: 20px;
}

.container .content .metro select {
    margin: 10px;
    padding: 5px 10px;
    border: 0;
    border-bottom: 1px solid #000;
    background: #e0e0e0;
}

/* Pied de page */
.footer{
    background: #282c34;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.footer nav li{
    list-style: none;
}
.footer nav li:last-child{
    display: flex;
    gap: 20px;
}
.footer nav li a{
    color: #fff;
    text-decoration: none;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
    /* .container .list ul, .container .content .list-velo{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    } */

    .container .content ul{
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
@media screen and (max-width: 768px) {
    header.header .desktop_nav{
        display: none;
    }

    header.header .mobile_nav{
        display: block;
    }
    header.header .mobile_nav .mobile_menu{
        display: none;
    }
    header.header .mobile_nav .menu-icon.open{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 15px 0;
    }
    header.header .mobile_nav .menu-icon.open span{
        background: #fff;
        width: 20px;
        height: 2px;
    }
    header.header .mobile_nav .menu-toggle, header.header .mobile_nav .menu-toggle:not(.menu-toggle:checked) ~ .menu-icon.close span::after{
        display: none;
    }
    header.header .mobile_nav .menu-toggle:checked ~ .mobile_menu{
        display: flex;
    }
    header.header .mobile_nav .mobile_menu {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        z-index: 31;
        top: -15px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #282c34;
    }
    header.header .mobile_nav .menu-toggle:checked ~ .menu-icon.open{
        display: none;
    }
    header.header .mobile_nav .menu-toggle:checked ~ .menu-icon.close{
        display: flex;
    }
    header.header .mobile_nav .menu-toggle:checked ~ .menu-icon.close span::after{
        position: absolute;
        inset: 0;
        z-index: 51;
        content: '';
        mask: url(../public/cross.png) no-repeat center / contain;
        background: #fff;
        height: 20px;
        width: 20px;
        margin: 20px auto 0;
    }

    .traffic ul{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    /* header.header .mobile_nav{
        display: block;
    }
    header.header .mobile_nav .menu-icon.open{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    header.header .mobile_nav .menu-icon.open span{
        background: #fff;
        width: 20px;
        height: 2px;
    }
    header.header .mobile_nav input.menu-disable ~ .menu-icon.close span::after, header.header .mobile_nav input.menu-disable:checked ~ .mobile_menu{
        display: none;
    }
    header.header .mobile_nav input.menu-disable:checked ~ .menu-icon.open{
        display: flex;
    } */
    /* header.header .mobile_nav input.menu-disable:checked ~ .menu-icon.close span::after {
        display: block;
    } */
    /* header.header .mobile_nav .menu-icon.close span::after{
        position: absolute;
        inset: 0;
        z-index: 51;
        content: '';
        mask: url(../public/cross.png) no-repeat center / contain;
        background: #fff;
        height: 20px;
        width: 20px;
        margin: 0 auto;
    }

    header.header .mobile_nav input {
        position: absolute;
        z-index: 300;
    }
    header.header .mobile_nav .mobile_menu {
        display: none;
    }
    header.header .mobile_nav .mobile_menu {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        z-index: 31;
        top: -15px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #282c34;
    }
    header.header .mobile_nav input.menu-toggle:checked ~ .mobile_menu {
        display: flex;
    }
    header.header .mobile_nav input.menu-toggle:checked ~ .menu-icon.close span::after{
        display: block;
    } */
    .container .content ul, .container .list ul{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    .container .list ul li:last-child{
        grid-column: 1 / -1;
    }

    .footer nav{
        flex-flow: column nowrap;
    }
}
@media screen and (max-width: 600px) {
    .container .content ul, .container .list ul{
        grid-template-columns: minmax(0, 1fr);
    }
    
}
@media screen and (max-width: 425px) {
    .container .list ul{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .footer nav li:last-child{
        flex-flow: column nowrap;
        gap: 10px;
    }
}